<h1 id="tableLabel">
  Users ({{_users.length}})
  <button type="button" class="btn btn-primary float-right" *ngIf="view=='form'" (click)="view='list'; _userSelected = {}">
    List
    Users
  </button>
  <!-- <button type="button" class="btn btn-primary float-right" *ngIf="view=='list'" (click)="view='form'; _userSelected = {}">Add
      New</button> -->
</h1>
<hr />






<div class="col-md-12" *ngIf="view=='form'">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" placeholder="Name" [(ngModel)]="_userSelected.name" name="name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">E-mail</label>
      <input type="email" class="form-control" placeholder="Email" [(ngModel)]="_userSelected.email" name="email">
    </div>
  </form>
</div>

<div class="col-md-12" *ngIf="view=='list'">
  <table mat-table [dataSource]="_users" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> #. </th>
      <td mat-cell *matCellDef="let element">  </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Profile </th>
      <td mat-cell *matCellDef="let element"> {{element.profile}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Profile</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of _users">
        <th scope="row"><button type="button" class="btn btn-primary" (click)="openDetails(user)">Details</button></th>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.profile?.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
